@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Varela+Round&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: url("/bg.webp");
    backdrop-filter: saturate(80%);
    background-size: cover;
  }
  ::-webkit-scrollbar {
    @apply w-2 bg-gray-400;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-900 rounded-full;
  }

  * {
    @apply outline-none;
  }

  button {
    @apply block;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 5px black;
  }
}
